__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
waveforms/*.png
src/puml/*.puml
test/*.yaml
site/
*.log
/wasm/*.js
/wasm/*.wasm
!/wasm/tt3404.*
!/wasm/tt3420.*
!/wasm/tt3434.*
!/wasm/tt3489.*
!/wasm/tt3492.*
!/wasm/tt3495.*
!/wasm/tt3514.*
!/wasm/tt3519.*
!/wasm/tt3641.*
!/wasm/tt4006.*
!/wasm/tt3405.*
!/wasm/tt3415.*
!/wasm/tt3417.*
!/wasm/tt3422.*
!/wasm/tt3425.*
!/wasm/tt3430.*
!/wasm/tt3432.*
!/wasm/tt3437.*
!/wasm/tt3449.*
!/wasm/tt3454.*
!/wasm/tt3477.*
!/wasm/tt3486.*
!/wasm/tt3487.*
!/wasm/tt3491.*
!/wasm/tt3493.*
!/wasm/tt3494.*
!/wasm/tt3498.*
!/wasm/tt3502.*
!/wasm/tt3509.*
!/wasm/tt3510.*
!/wasm/tt3511.*
!/wasm/tt3515.*
!/wasm/tt3522.*
!/wasm/tt3526.*
!/wasm/tt3528.*
!/wasm/tt3531.*
!/wasm/tt3533.*
!/wasm/tt3539.*
!/wasm/tt3542.*
!/wasm/tt3548.*
!/wasm/tt3549.*
!/wasm/tt3550.*
!/wasm/tt3557.*
!/wasm/tt3558.*
!/wasm/tt3561.*
!/wasm/tt3563.*
!/wasm/tt3565.*
!/wasm/tt3569.*
!/wasm/tt3576.*
!/wasm/tt3578.*
!/wasm/tt3579.*
!/wasm/tt3582.*
!/wasm/tt3597.*
!/wasm/tt3608.*
!/wasm/tt3616.*
!/wasm/tt3618.*
!/wasm/tt3620.*
!/wasm/tt3630.*
!/wasm/tt3632.*
!/wasm/tt3633.*
candidate_projects.txt
projects_in_wasm.txt
projects_to_compile.txt
projects_with_source.txt
